* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #242424;
  color: #ffffffdd;
}

.pokedex {
  text-align: center;
  margin-top: 50px;
}

.search-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .search-container {
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin: 0 0 0 10px;
  padding: 10px 20px;
  width: 8rem; 
  height: 40px; 
  font-size: 16px;
  font-weight: 700;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffa500;
  color: #fff;
}

button:focus {
  outline: 2px solid #ffcc00;
  outline-offset: 2px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.pokemon-card img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.pokemon-card strong {
  font-weight: bold;
}

.pokemon-card ul {
  padding-left: 0;
}

.pokemon-card li {
  list-style: none;
  margin-bottom: 5px;
}

.pokemon-card button {
  margin: 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffcc00;
  border: none;
  color: #000;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.3s ease;
}

.pokemon-card button:hover {
  background-color: #ffa500;
  color: #fff;
}

.pokemon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pokemon-details-content {
  display: flex;
  align-items: center;
}

.pokemon-sprite {
  width: 210px;
  height: 280px;
}

.sprite-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px 20px 0;
}

.type-boxes {
  display: flex;
  gap: 10px;
  margin-top: 0.5rem;
}

.type-box {
  width: 80px;
  background-color: #9c7200;
  color: #fff;
  padding: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 20px;
}

.type-container,
.base-stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-details-content strong {
  font-weight: bold;
}

.pokemon-details-content ul {
  padding-left: 0;
}

.pokemon-details-content table {
  width: 200px;
  margin: auto;
  border-collapse: collapse;
  margin-top: 1rem;
}

.pokemon-details-content th,
.pokemon-details-content td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid #ddd;
}

.pokemon-details-content th {
  font-weight: bold;
}

.pokemon-details-content tbody tr:nth-child(even) {
  background-color: #323232;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.navButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffcc00;
  border: none;
  color: #000;
  font-weight: 700;
  cursor: pointer;
}

.pokedex-number {
  color: #aaaaaa;
}

.error-message {
  color: #ff2a63;
  font-size: 1.2rem;
  letter-spacing: .05em;
}
